<nav class="deep-purple" role="navigation">
  <div class="nav-wrapper container">
    <a id="logo-container" routerLink="/" class="brand-logo" style="font-size: 190%;">{{ title }}</a>
    <ul class="right hide-on-med-and-down">
      <li>
        <a routerLink="/"><i class="material-icons left">home</i>Home</a>
      </li>
      <li>
        <a routerLink="/charts"><i class="material-icons left">dashboard</i>Dashboard</a>
      </li>
    </ul>
    <ul id="nav-mobile" class="sidenav">
      <li>
        <a routerLink="/"><i class="material-icons left">home</i>Home</a>
      </li>
      <li>
        <a href="/charts"><i class="material-icons left">dashboard</i>Dashboard</a>
      </li>
    </ul>
    <a href="#" data-target="nav-mobile" class="sidenav-trigger"><i class="material-icons">menu</i></a>
  </div>
</nav>